GeneratedFiles/
desktop.ini
*.swp
*.opensdf
*.sdf
*.suo
*.exe
*.psess
*.vsp
*.ipch
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.vspscc
.gitignore.swp
*.bak_*
*.ini

# ignore editor ~ files
.tags*
Doxyfile
Makefile
cmake_install.cmake
doxygen_sqlite3.db
*~
.idea/

/CMakeFiles
/doc
/html
/Debug
/Release
/build*
/Build*
/.vscode
*.kate-swp

# astyle original files
*.orig
*.user
*.obj
*.dll
*.qm
*.avi
*moc_*
*.tlog
*.log
*.ilk
*.lib
*.lastbuildstate
*.stamp
*.depend
*.pdb
*.exp
*.db
*.opendb
CMakeFiles
/BioTracker/*.vspx
*.cache
*.csv
build
biotracker_workspace.code-workspace
