GeneratedFiles/
CMakeLists.txt.user
desktop.ini
*.opensdf
*.sdf
*.suo
*.exe
*.psess
*.vsp
*.ipch
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.vspscc
.gitignore.swp
BioTracker.apparmor
CMakeLists.txt.user.3.2-pre1
manifest.json

# ignore editor ~ files
.tags*
Doxyfile
CMakeCache.txt
Makefile
cmake_install.cmake
doxygen_sqlite3.db
*~
.idea/

/CMakeFiles
/doc
/html
/Debug
/Release
/build
*.kate-swp

# astyle original files
*.orig
